<div class="product-card">
  <div class="image-wrapper">
    <img [src]="products.imageUrl" [alt]="products.ProductName" />
  </div>

  <div class="product-content">
    <p class="category">{{ products.category }}</p>
    <h3>{{ products.ProductName }}</h3>
    <p class="description">{{ products.description }}</p>

    <div class="bottom">
      <span class="price">₹{{ products.price }}</span>
      <button *ngIf ="!inCart" class="btn-outline" (click)="addToCart()">
         <span class="material-icons">+</span>
        Add
      </button>
      <button *ngIf="inCart"   class="btn-outline" (click)="updateQuantity(products.Id,products.quantity+1)">
        <span class="material-icons">+</span>
        Add
      </button>
    </div>
  </div>
</div>
