<div class="min-h-screen">
  <app-announcement-bar></app-announcement-bar>

  <app-navigation></app-navigation>
  <app-hero></app-hero>
  <!-- <app-products></app-products> -->
  <app-feature-product></app-feature-product>
  <app-values></app-values>
  <app-story></app-story>
  <app-footer></app-footer>
</div>




<!-- <app-cart-sheet
    [open]="cartOpen"
    [session]="session"
    (openChange)="cartOpen = $event">
</app-cart-sheet> -->

<!-- <app-food-label></app-food-label>
<app-foodlabel-back></app-foodlabel-back> -->

<router-outlet></router-outlet>
