<div class="profile-container">

    <div class="profile-card">

        <div class="profile-section"><!-- Header Section -->
            <div class="profile-header">
                <div class="avatar">
                    {{ user?.fullName?.charAt(0) }}

                </div>

                <div class="user-info">
                    <!-- <h2>{{ user?.fullName }}</h2>
                <p>{{ user?.email }}</p> -->
                    <h2>Vikram</h2>
                    <p>Vikram.kumar&#64;saarathi.ai</p>
                </div>
            </div>
            <div>
                <div>
                    <button class="btn-secondary" (click)="changePassword()">
                        Edit Profile
                    </button>
                </div>
            </div>
        </div>

        <!-- Personal Details -->
        <div class="section">
            <h3>Personal Details</h3>

            <div class="form-group">
                <label>Full Name</label>
                <input type="text" [(ngModel)]="user.fullName" disabled />
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="email" [(ngModel)]="user.email" disabled />
            </div>

            <!-- <button class="btn-primary" (click)="updateProfile()">
        Update Profile
      </button> -->
        </div>

        <!-- Change Password -->
        <div class="section">
            <h3>Change Password</h3>

            <div class="form-group">
                <label>New Password</label>
                <input type="password" [(ngModel)]="newPassword" disabled />
            </div>


        </div>

        <!-- Logout -->
        <div class="logout-section">
            <button class="btn-logout" (click)="logout()">
                Sign Out
            </button>
        </div>

    </div>

</div>