<app-navigation></app-navigation>
<div class="profile-container">

    <div class="profile-card">

        <div class="profile-section"><!-- Header Section -->
            <div class="profile-header">
                <div class="avatar">
                    {{ user?.name?.charAt(0) }}
                </div>

                <div class="user-info">
                    <h2>{{ user?.name }}</h2>
                    <p>{{ user?.emailId }}</p>
                </div>
            </div>
            <div>
                <div>
                    <button class="btn-secondary" (click)="changePassword()">
                        Edit Profile
                    </button>
                </div>
            </div>
            
        </div>
         <hr>
        

        <!-- Personal Details -->
         <h3>Personal Details</h3>
        <div class="section">
            

            <div class="form-group">
                <label>Full Name</label>
                <input type="text" [(ngModel)]="user.name" disabled />
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="email" [(ngModel)]="user.emailId" disabled />
            </div>

            <!-- <button class="btn-primary" (click)="updateProfile()">
        Update Profile
      </button> -->
        </div>

        <!-- Change Password -->
         <h3>Change Password</h3>
        <div class="section">
            

            <div class="form-group">
                <label>New Password</label>
                <input type="password" [(ngModel)]="newPassword"  />
            </div>


        </div>

        <!-- Logout -->
        <div class="logout-section">
            <button class="btn-logout" (click)="logout()">
                Sign Out
            </button>
        </div>

    </div>

</div>