<nav class="nav-container">
  <div class="nav-inner">
    <!-- Logo -->

    <!-- Mobile Menu Drawer -->
    <!-- Mobile Menu -->
    <button *ngIf="mobileMenuOpen" class="icon-btn md:hidden" (click)="toggleMenu()">
      <i class="fa-solid" [ngClass]="mobileMenuOpen ? 'fa-xmark' : 'fa-bars'"></i>
    </button>
    <div *ngIf="mobileMenuOpen" class="mobile-menu">
      <a (click)="navigate('/')" class="mobile-link">Home</a>
      <a (click)="navigate('/products')" class="mobile-link">Products</a>
      <a (click)="navigate('/about')" class="mobile-link">Our Story</a>
    </div>

    <div class="flex items-center gap-2 cursor-pointer" (click)="navigate('/')">
      <img src="/logo-full.png" alt="PoornaVeda" class="h-10 w-10" />
      <!-- <span class="brand-name hidden sm:inline">PoornaVeda</span> -->
    </div>

    <!-- Desktop Links -->
    <div class="hidden md:flex items-center gap-6">
      <a (click)="navigate('/')" class="nav-link">Home</a>
      <a (click)="navigate('/products')" routerLink="/products">Product</a>
      <a (click)="navigate('/about')" class="nav-link">Our Story</a>
    </div>


    <!-- Right Side -->
    <div class="items-center gap-4">
      <!-- Cart -->
      <div>

        <a (click)="onProfileClick()" *ngIf="isLoggedIn; else loginButton">
          <i class="fa-regular fa-user mr-2"></i> Profile
        </a>

        <button class="icon-btn" (click)="onCartClick()">
          <i class="fa-solid fa-shopping-cart"></i>
          <span *ngIf="cartItemsCount > 0" class="cart-badge">
            {{ cartItemsCount }}
          </span>
        </button>

      </div>

      <!-- <div *ngIf="isLoggedIn; else loginButton">
        
      </div> -->
      <!-- <div>
        <a (click)="signOut()">
          <i class="fa-solid fa-right-from-bracket mr-2"></i> Sign Out
        </a>
      </div> -->
      

      <ng-template #loginButton>
        <button class="btn-primary" (click)="navigate('/auth')">Sign In</button>
      </ng-template>

    </div>
  </div>


</nav>